@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .circle {
    fill: none;
    stroke-width: 8px;
    stroke-dasharray: 236;
    stroke-dashoffset: 236;
  }
}

@layer utilities {
  .chat {
    overflow-y: scroll;
  }

  .chat::-webkit-scrollbar {
    width: 6px;
    height: 20px;
  }

  .chat::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  .chat::-webkit-scrollbar-thumb {
    background: #6a696a;
    border-radius: 100vh;
    height: 10px;
  }

  .chat::-webkit-scrollbar-thumb:hover {
    background: #488fff;
  }
}
